<h1>Scroll Grade Test</h1>
<p>{{$ctrl.header}}</p>
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="one">
        <md-content class="md-padding">
            <h1> Draw polygon depending on n </h1>
            <md-input-container>
              <label>Nodes</label>
              <input ng-model="$ctrl.nodes">
            </md-input-container>
            <p> The number of nodes {{$ctrl.nodes}}</p>
        </md-content>
      </md-tab>
      <md-tab label="two">
        <md-content class="md-padding">
          <h1> Longest Increasing Subsequence </h1>
          <md-input-container>
            <label>Add Number</label>
            <input ng-model="$ctrl.number">
          </md-input-container>
          <md-button class="md-raised md-primary" ng-click="$ctrl.addToSequence()">
            Add
          </md-button>
          <md-button class="md-raised md-primary" ng-click="$ctrl.clearSequence()">
            Clear Sequence
          </md-button>
          <p>The sequence is {{$ctrl.sequence}}</p>
          <p>The longest increasing sequence is {{$ctrl.longestsequence}}</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>

<script>

// http://forum.Processing.org/two/discussion/13051/
// how-do-i-bind-p5-canvas-to-an-html-page

// GoToLoop (2015-Oct-16)

function setup() {
  const canvasHolder = select('#canvasHolder'),
        canvasWidth  = canvasHolder.width,
        canvasHeight = canvasHolder.height;

  console.log(canvasHolder);
  print(canvasWidth + ', ' + canvasHeight);

  createCanvas(canvasWidth, canvasHeight).parent('canvasHolder');

  fill('blue').stroke('red').strokeWeight(2.5).background(0).noLoop();
  rectMode(CENTER).rect(width>>1, height>>1, width>>1, height>>1);
}

</script>
