<div class="container-fluid backgroundContainer card"
  layout="column"
  style="margin:none;">
  <div flex="30">
    <div layout="row" layout-align="center center">
        <img class="titleBox" ng-src="images/TransparentTitle.png"
              style="max-width:100%; height:auto;" />
    </div>
  </div>
  <div flex="5"></div>
  <div flex>
    <div layout="column" layout-gt-sm="row">
      <div flex-gt-sm="50">
        <div layout="column" layout-align="center center">
          <div>
            <div class="featureBox">
              Grade hand written work 75% <b>faster</b>
            </div>
            <div class="featureBox">
              <b>Automated. Supervised by you</b>
            </div>
            <div class="featureBox" ng-show="$ctrl.signedUp">
              <b>Sign up today!</b>
            </div>
            <div layout="column" ng-show="$ctrl.signedUp">
                <div layout="row">
                  <!-- <md-input-container class="md-block" flex-gt-sm>
                    <label>Name</label>
                    <input md-maxlength="30" required name="name" ng-model="$ctrl.user.name" />
                    <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                    <div ng-messages="userForm.name.$error" ng-if="!showHints">
                      <div ng-message="required">Name is required.</div>
                      <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    </div>
                  </md-input-container> -->
                  <div class="input-group mb-4">
                    <input type="text" class="form-control"
                      placeholder="Name" aria-label="Username"
                      aria-describedby="basic-addon1"
                      ng-model="$ctrl.user.name">
                  </div>
                  <div flex="5" hide-xs hide-sm>
                    <!-- Spacer //-->
                  </div>

                  <div class="input-group mb-2">
                    <input type="text" class="form-control"
                      placeholder="School" aria-label="University"
                      aria-describedby="basic-addon1"
                      ng-model="$ctrl.user.school">
                  </div>
                </div>
                <div layout="column">
                  <div class="input-group mb-4">
                    <input type="text" class="form-control"
                      placeholder="Email" aria-label="Email"
                      aria-describedby="basic-addon1"
                      ng-model="$ctrl.user.email">
                  </div>
                  <div layout="row" layout-align="center center">
                      <md-button class="md-raised md-primary"
                        md-colors="{background: 'deep-purple'}"
                        ng-click="$ctrl.signupClick()">
                        Sign Up
                      </md-button>
                    </div>
                </div>
            </div>
            <div class="featureBox" ng-show="!$ctrl.signedUp">
              <b>{{$ctrl.signedUpUser}}</b>
            </div>
            <div class="featureBox" ng-show="!$ctrl.signedUp">
              <b>We will be reach out to you once we are up and running!</b>
            </div>
          </div>
        </div>
      </div>
      <div flex-gt-sm="50">
        <div layout="row" layout-align="center center">
          <iframe width="560" height="315"
            ng-src="{{$ctrl.videoSource}}"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div flex="8">
    <md-toolbar md-colors="{background: 'deep-purple'}" md-colors-watch="false">
      <div class="md-toolbar-tools"
        style="position: fixed-bottom; margin:0; width: 100%"
        layout="row" layout-align="end center">
        <div>
        Powered by NYU &nbsp;
        <img ng-src="images/startEDlogo.png"
            class="startedLogo"
            alt="startED's logo"
            height="25"
            width="75"/>
        </div>
      </div>
    </md-toolbar>
  </div>
</div>

<!-- <nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand">Fixed bottom</a>
</nav> -->
